/* <!-- THIS FILE CONTAINS CODE RELATING TO OVERCOOKED --> */

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100dvh;
}

body {
    background-color: white;
    background-image: linear-gradient(
        180deg,
        #0a1930 0%,   /* Deepest midnight blue (horizon base) */
        #1c3a6b 40%,  /* True dark blue */
        #3c78b5 75%,  /* Transitioning lighter blue */
        #a2d1e1 100%  /* Soft cyan/light haze (top of the sky) */
    );
    margin: 0px auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    height: 100%;
    /* max-width: 480px; */
    padding: 20px 10px;
    /* outline: 1px solid green; */
    flex-direction: column;
    gap: 50px;
}

#outputCanvas {
    /* outline: 1px solid purple; */
    width: 90%;
    max-width: 480px;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
}


.sour-gummy-btn {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#resBtn {
    /* width: 70%; */
    max-width: 450px;
    padding: 30px;
    /* height: 80px; */
    border-radius: 40px;
    border: none;
    font-size: 5cqw;
    color: black;
    touch-action: manipulation;
}
