/* <!-- THIS FILE CONTAINS CODE RELATING TO OVERCOOKED --> */

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100dvh;
    background-color: #a2d1e1;
}

body {
    background-color: white;
    background-image: linear-gradient(
        180deg,
        #0a1930 0%,   /* Deepest midnight blue (horizon base) */
        #1c3a6b 40%,  /* True dark blue */
        #3c78b5 75%,  /* Transitioning lighter blue */
        #a2d1e1 100%  /* Soft cyan/light haze (top of the sky) */
    );
    background-repeat: no-repeat;
    margin: 0px auto;
}

#mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        #050101 0%,   /* Obsidian void (The shadow of the crypt) */
        #1a0505 35%,  /* Dried blood / Deep mahogany */
        #660000 70%,  /* Arterial crimson (The primary focal color) */
        #2b2b2b 100%  /* Cold slate/ash (The final resting place) */
    );
    opacity: 0%;
    transition: 2s opacity;
    display: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    height: 100%;
    /* max-width: 480px; */
    padding: 20px 10px;
    /* outline: 1px solid green; */
    flex-direction: column;
    gap: 50px;
}

#outputCanvas {
    /* outline: 1px solid purple; */
    width: 90%;
    max-width: 480px;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    transition: 2s opacity;
}


.sour-gummy-btn {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#resBtn, #nextBtn, #twilightBtn {
    /* width: 70%; */
    max-width: 450px;
    padding: 30px;
    /* height: 80px; */
    border-radius: 40px;
    border: none;
    font-size: 5cqw;
    color: black;
    touch-action: manipulation;
    transition: 2s opacity;
}

#nextBtn {
    pointer-events: none;
    opacity: 0%;
}

a {
    text-decoration: none;
}

#twilightBtn {
    background-color: black;
    color: rgb(164, 0, 0);
    opacity: 0%;
    transition: 2s opacity;
}
