:root {
    --canvasSizeX: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100dvh;
    flex-direction: column;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasBox {
    outline: 1px red;
    position: relative;
}

#canvasMask, #splotchCanvas {
    width: var(--canvasSizeX);
    max-width: var(--canvasSizeX);
    max-height: var(--canvasSizeX);
    aspect-ratio: 1/1;
}

#canvasMask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.345);
}

#splotchCanvas {
    background-color: lightgray;
    image-rendering: pixelated;
}

#mover {
    position: absolute;
    width: 20px;
    /* aspect-ratio: 1/1; */
    border: 3px solid lime;
    display: none;
}

#centerList {
    outline: 1px solid red;
}

.centerBox {
    padding: 20px;
    display: flex;
    gap: 10px;
}
.centerBox:hover {
    background-color: rgb(242, 242, 242);
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%; 
}
input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.pill {
    padding: 5px;
    height: 40px;
    border-radius: 20px;
    background-color: lightgray;
}

/* Target Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Target Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}