:root {
    --boxSize: 500px;
    --delayFactor: 1/8;
    --animationSpeed: 1s;
    --scale: 4;
    --circleScale: calc(1/var(--scale));
    --translateScale: calc(0.5*(var(--scale) + 1));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100dvh;
    /* background-color: black; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 140px;
}

#inputBox {
    display: flex;
    flex-direction: column;
}

#box {
    position: relative;
    width: var(--boxSize);
    aspect-ratio: 1/1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#innerBox {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

#shadow {
    position: absolute;
    width: 105%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    opacity: 1;
    /* border: 1px solid black; */
    box-shadow: inset 0 0 30px 50px white;
}

.colorSquare {
    position: absolute;
    width: calc(100% * var(--circleScale));
    aspect-ratio: 1/1;
    border-radius: 50%;
    opacity: 0.4;
    animation-duration: var(--animationSpeed);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

#color1 {
    background-color: rgb(255, 0, 0);
    animation-name: moveColor1;
    animation-delay: calc(var(--delayFactor)*0s);
}
#color2 {
    background-color: rgb(255, 127, 0);
    animation-name: moveColor2;
    animation-delay: calc(var(--delayFactor)*1s);
}
#color3 {
    background-color: rgb(255, 255, 0);
    animation-name: moveColor3;
    animation-delay: calc(var(--delayFactor)*2s);
}
#color4 {
    background-color: rgb(0, 255, 0);
    animation-name: moveColor4;
    animation-delay: calc(var(--delayFactor)*3s);
}
#color5 {
    background-color: rgb(0, 255, 255);
    animation-name: moveColor5;
    animation-delay: calc(var(--delayFactor)*4s);
}
#color6 {
    background-color: rgb(98, 98, 244);
    animation-name: moveColor6;
    animation-delay: calc(var(--delayFactor)*5s);
}
#color7 {
    background-color: rgb(75, 0, 130);
    animation-name: moveColor7;
    animation-delay: calc(var(--delayFactor)*6s);
}
#color8 {
    background-color: rgb(148, 0, 211);
    animation-name: moveColor8;
    animation-delay: calc(var(--delayFactor)*7s);
}

@keyframes moveColor1 {
    from {transform: translate(0%);}
    to {transform: translate(0%, calc(-100% * var(--translateScale)));}
}
@keyframes moveColor2 {
    from {transform: translate(0%);}
    to {
        transform: translate(
            calc(cos(45deg) * 100% * var(--translateScale)),
            calc(cos(45deg) * -100% * var(--translateScale))
        );
    }
}
@keyframes moveColor3 {
    from {transform: translate(0%);}
    to {transform: translate(calc(100% * var(--translateScale)), 0%);}
}
@keyframes moveColor4 {
    from {transform: translate(0%);}
    to {transform: translate(calc(cos(45deg) * 100% * var(--translateScale)), calc(cos(45deg) * 100% * var(--translateScale)));}
}
@keyframes moveColor5 {
    from {transform: translate(0%);}
    to {transform: translate(0%, calc(100% * var(--translateScale)));}
}
@keyframes moveColor6 {
    from {transform: translate(0%);}
    to {transform: translate(calc(cos(45deg) * -100% * var(--translateScale)), calc(cos(45deg) * 100% * var(--translateScale)));}
}
@keyframes moveColor7 {
    from {transform: translate(0%);}
    to {transform: translate(calc(-100% * var(--translateScale)), 0%);}
}
@keyframes moveColor8 {
    from {transform: translate(0%);}
    to {transform: translate(calc(cos(45deg) * -100% * var(--translateScale)), calc(cos(45deg) * -100% * var(--translateScale)));}
}